.footer {
	background: url("../img/backgrounds/footer_bg.svg") no-repeat bottom center;
	background-size: cover;
	position: relative;
	background-position: top center;
	padding-top: 100px;

	.container {
		z-index: 1;
		position: relative;
	}

	&__subscribe {
		position: relative;
		bottom: 40px;
		.signup-cta {
			padding-bottom: 140px;
			position: relative;
			h2 {
				color: $primary-100;
				margin-bottom: 25px;
			}
			p {
				margin-bottom: 30px;

				&::after {
					content: "";
					width: 15px;
					height: 15px;
					background: linear-gradient(180deg, #e57a7a 0%, #efa29b 100%);
					display: block;
					border-radius: 50%;
					position: absolute;
					right: 0;
					bottom: 170px;
				}
			}

			&::after {
				content: "";
				width: 54px;
				height: 54px;
				background: linear-gradient(180deg, #e57a7a 0%, #efa29b 100%);
				display: block;
				border-radius: 50%;
				position: absolute;
				top: -71px;
				left: -76px;
			}

			&::before {
				content: "";
				width: 27px;
				height: 27px;
				background: linear-gradient(180deg, #e57a7a 0%, #efa29b 100%);
				display: block;
				border-radius: 50%;
				position: absolute;
				right: -40px;
				top: -40px;
			}
		}
		& > div:last-child {
			align-self: flex-end;
		}
		.signup-form {
			max-width: 750px;
			margin: 0 auto;
			h3 {
				text-align: center;
				color: $white;
				max-width: 380px;
				margin: 0 auto 36px;
			}
			form {
				position: relative;
				input {
					margin: 0;
					width: 100%;
					border-radius: 50px;
					box-shadow: 0px 3px 35px rgba(66, 65, 65, 0.1);
					padding: 16px 20px;
					border: none;
				}
				button {
					position: absolute;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
					@include flex(center, center);
					cursor: pointer;
					background: none;
					padding: 21px 36px 21px 16px;
					border-radius: 0px 25px 25px 0px;

					&:hover {
						svg path {
							fill: $secondary-100;
						}
					}
				}
			}
		}
	}

	&__prefooter {
		padding-bottom: 90px;
		padding-top: 100px;

		p,
		a {
			color: $white;
			font-size: $size-xx-small;
			line-height: 24px;
		}

		a {
			&:hover {
				color: $white;
				text-decoration: underline;
			}
		}

		.rights {
			img {
				margin-bottom: 30px;
			}

			.icons {
				@include flex(space-between, center);
				max-width: 190px;
				margin-bottom: 15px;

				a {
					min-width: 36px;
					max-width: 36px;
					min-height: 36px;
					max-height: 36px;
					border: 1px solid $white;
					border-radius: 50%;
					display: inline-flex;
					justify-content: center;
					align-items: center;

					&:hover {
						background-color: $white;
						svg path {
							fill: $primary-100;
						}
					}
				}
			}
		}

		& > div:not(:first-child) {
			h6 {
				color: $white;
				margin-bottom: 30px;
				position: relative;
				&::after {
					content: "";
					width: 50px;
					height: 2px;
					background-color: $white;
					border-radius: 50px;
					position: absolute;
					bottom: -5px;
					left: 0;
				}
			}
			a {
				margin-bottom: 10px;
				font-family: $primary-medium;
				display: block;
			}
		}
	}

	.bg_bottom {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}

	@include for-size(tablet-landscape-down) {
		background-position-x: right;
		margin-top: 350px;
		padding-top: 0;
		background-size: cover;

		.signup-cta {
			padding-bottom: 0;
			position: relative;
			bottom: 170px;

			p::after {
				bottom: 0;
			}

			&::after {
				left: -50px;
			}
		}
		&__prefooter {
			padding-top: 50px;
			padding-bottom: 50px;
		}
	}
	@include for-size(tablet-portrait-down) {
		background-position-x: 85%;
	}

	@include for-size(phone-only) {
		background-position-x: 76%;
		text-align: center;
		h6,
		.icons {
			display: inline-block;
			margin-left: auto;
			margin-right: auto;

			&::after {
				left: 50% !important;
				transform: translateX(-50%);
			}
		}

		.signup-cta {
			bottom: 210px;
			&::after {
				left: 0px;
			}
			&::before {
				right: 0;
			}
		}
		&__prefooter {
			padding-top: 10px;
			padding-bottom: 30px;
		}
		&__subscribe > div:first-child {
			height: 100px;
		}
	}
}
