.hero {
	background-image: url("../img/backgrounds/hero_bg.svg");
	background-size: cover;
	background-position: bottom;
	padding-top: 90px;
	padding-bottom: 140px;
	margin-bottom: 150px;

	.row {
		position: relative;
		top: 120px;
	}
	h1 {
		color: $white;
		margin-bottom: 30px;
	}

	p {
		@extend h4.semi;
		color: $white;
		margin-bottom: 45px;
	}
	img {
		max-width: 130%;
		width: 130%;
	}

	@include for-size(tablet-landscape-down) {
		img {
			max-width: 100% !important;
		}
	}

	@include for-size(tablet-portrait-down) {
		margin-bottom: 3px;
		.row {
			top: 0;

			h1,
			p,
			a {
				margin-bottom: 20px;
			}

			img {
				margin-top: 20px;
			}
		}
	}
}

.what-we-do {
	background: url("../img/backgrounds/cardback.svg") no-repeat bottom left;
	padding-bottom: 250px;

	.column-2 {
		position: relative;
		top: 64px;
	}
	.card {
		box-shadow: 0px 3px 75px rgba(66, 65, 65, 0.08);
		padding: 20px;
		max-width: 270px;
		min-height: 380px;
		border: none;

		&:not(:last-child) {
			margin-bottom: 30px;
		}

		img {
			margin-bottom: 19.29px;
			display: inline-block;
			margin-right: auto;
		}
		h4 {
			margin-bottom: 15px;
		}
	}

	h6.reg {
		margin-bottom: 15px;
	}

	.title {
		margin-bottom: 25px;
		line-height: 45px;
	}

	.paragraph {
		margin-bottom: 40px;
		font-size: $size-small;
		line-height: 26px;
	}

	@include for-size(tablet-landscape-down) {
		padding-bottom: 0px;

		.right-column {
			margin-top: 100px;
		}
	}

	@include for-size(phone-only) {
		.right-column {
			margin-top: 0;
			padding-top: 40px;
			padding-bottom: 60px;
			text-align: center;
		}

		.card {
			min-height: auto;
			margin: 0 auto 30px;
		}

		.column-2 {
			position: static;
		}
	}
}

.about-us {
	position: relative;
	top: -150px;
	h6 {
		margin-bottom: 0;
	}
	h2 {
		margin-top: 15px;
		margin-bottom: 25px;
		line-height: 40px;
	}

	p {
		margin-bottom: 40px;
	}

	.button {
		&:hover {
			svg path {
				fill: $primary-100;
			}
		}
	}
	@include for-size(tablet-landscape-down) {
		padding-top: 50px;
		padding-bottom: 50px;

		.row > div {
			margin-top: 20px;
			margin-bottom: 20px;
			&:first-child {
				order: 2;
			}
		}
	}

	@include for-size(tablet-landscape-down) {
		position: static;
		.row > div {
			text-align: center;
		}
	}
}

.our-mobile-app {
	background: url("../img/backgrounds/our-mobile-app.svg") no-repeat;
	padding-bottom: 320px;
	padding-top: 320px;
	background-size: cover;
	background-position: center;
	background-position-x: 30%;

	h6 {
		margin-top: 15px;
		color: $white;
		margin-bottom: 20px;
	}

	h2,
	p {
		color: $white;
	}
	p {
		margin-bottom: 35px;
	}
	.download {
		a:first-child {
			margin-right: 35px;
		}
	}
	@include for-size(tablet-portrait-down) {
		background-position-x: right;
		padding-bottom: 170px;
		padding-top: 170px;
	}

	@include for-size(phone-only) {
		padding-bottom: 100px;
		padding-top: 120px;
		text-align: center;

		.download {
			a:first-child {
				margin-right: 15px;
			}
		}
	}
}

.features {
	background-image: url("../img/backgrounds/back5.svg");
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: contain;
	margin-bottom: 150px;
	margin-top: 83px;

	.title {
		padding-bottom: 50px;
		text-align: center;
		max-width: 570px;
		margin: 0 auto;
	}

	&__item {
		display: flex;
		align-items: flex-start;

		&__icon {
			background-color: $white;
			box-shadow: 0px 3px 35px rgba(0, 0, 0, 0.1);
			padding: 17px;
			border-radius: 50%;
			overflow: hidden;
			margin-right: 30px;
			min-width: 70px;
			max-width: 70px;
			min-height: 70px;
			max-height: 70px;
		}
		&__body {
		}
	}

	@include for-size(tablet-landscape-down) {
		margin-bottom: 60px;
		margin-top: 40px;
		&__item {
			flex-direction: column;
			align-items: center;
			text-align: center;
			margin-bottom: 30px;

			&__icon {
				margin-right: 0;
				margin-bottom: 30px;
			}
		}
	}

	@include for-size(phone-only) {
		margin-bottom: 0px;
	}
}

.pricing {
	text-align: center;

	.title {
		max-width: 570px;
		margin: 0 auto;
		margin-bottom: 40px;
	}

	.card-group {
		.card {
			background-color: $white;
			min-width: 370px;
			min-height: 600px;
			box-shadow: $shadow-3;
			border-radius: 5px;
			border: 0;
			border-top: 10px solid black;
			padding-top: 27px;

			&__title {
				margin-bottom: 15px;
				font-size: $size-larg;
				line-height: 26px;
				font-weight: 500;
				font-family: $primary-medium;
			}

			&__body {
				&__price {
					margin-bottom: 5px;
					font-family: $primary-bold;
					font-weight: bold;
					color: $primary-100;
					font-size: $size-xx-larg;

					sup {
						font-size: $size-larg;
					}

					span {
						font-weight: 400;
						color: $secondary-100;
						line-height: 26px;
						font-size: $size-regular;
					}
				}
				&__info {
					color: $secondary-100;
					font-family: $primary-light;
					font-size: $size-x-small;
					line-height: 26px;
				}
				&__features {
					margin-top: 30px;
					margin-bottom: 30px;
					li {
						margin-bottom: 15px;
						font-family: $primary-medium;
						font-size: $size-xx-small;
						line-height: normal;
					}
				}
				&__job-manager {
					border-top: 0.5px solid rgba(66, 65, 65, 0.11);
					border-bottom: 0.5px solid rgba(66, 65, 65, 0.11);
					padding: 20px;

					.module {
						margin-bottom: 10px;
						font-family: $primary-medium;
						font-size: $size-x-small;
						line-height: 18px;
						font-weight: 500;
						display: flex;
						align-items: center;

						button {
							background: none;
							position: relative;
							margin-right: 8px;
						}
						.price {
							font-weight: bold;
							font-family: $primary-bold;
							color: $primary-100;
						}
						.month {
							font-family: $primary-light;
							font-weight: 300;
						}
					}
					input,
					label {
						margin: 0 auto;
					}

					.label {
						cursor: pointer;
						width: 60px;
						height: 30px;
						border: 1px solid rgba(66, 65, 65, 0.35);
						border-radius: 100px;
						position: relative;
					}

					.label:after {
						content: "";
						position: absolute;
						top: 2px;
						left: 3px;
						width: 24px;
						height: 24px;
						background: rgba(66, 65, 65, 0.35);
						border-radius: 50px;
						transition: all 200ms ease;
					}

					input:checked + label:after {
						left: calc(100% - 3px);
						transform: translateX(-100%);
						background-color: $primary-100;
						transition: all 200ms ease;
					}

					input:checked + label {
						border-color: $primary-100;
					}

					.label:active:after {
						width: 60px;
					}
				}

				&__footer {
					margin-top: 30px;
					margin-bottom: 30px;
					.button {
						margin-bottom: 10px;
						background: linear-gradient(90deg, #e57a7a 0%, #efa29b 100%);
						border: 2px solid $white;

						&:hover {
							background: none;
							border-color: $primary-100;
						}
					}
					p {
						color: $secondary-100;
						font-weight: 300;
						font-family: $primary-light;
						font-size: $size-x-small;
					}
				}
			}

			&.card-middle {
				border-top-color: $primary-100;
				z-index: 1;
				padding-bottom: 28px;

				.card__body__features {
					margin-bottom: 40px !important;
				}
			}
		}

		.row {
			flex-wrap: nowrap;
		}
		@include for-size(tablet-landscape-down) {
			.row {
				flex-wrap: wrap;
				flex-direction: column;
				margin: 0 auto;

				.card {
					margin-bottom: 30px;
					min-width: 100%;
				}
			}
		}
	}
}

.testimonial {
	background-image: url("../img/backgrounds/testimonial.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-bottom: 96px;
	margin-top: 96px;
	padding-top: 122px;
	padding-bottom: 98px;

	h6 {
		margin-bottom: 15px;
		color: $white;
	}

	h2 {
		color: $white;
		margin-bottom: 30px;
	}

	p.quote {
		color: $white;
		margin-bottom: 24px;
		font-family: $primary-italic;
		font-weight: 500;
		line-height: 1.63;
		font-size: $size-small;
	}

	h3 {
		color: $white;
		font-family: $primary-bold;
		font-size: $size-regular;
		margin-bottom: 5px;
		font-weight: 700;
		line-height: 26px;
	}
	p.bio {
		font-size: $size-xx-small;
		font-weight: 400;
		line-height: 26px;
		color: $white;
	}
	.avatar {
		width: 369.88px;
		height: 325.72px;
		margin: 0 auto;
		display: block;
	}

	@include for-size(phone-only) {
		text-align: center;
	}
}
